{
	presets: [
		["env", {targets: {node: 6}}],
		"flow",
		"stage-0",
	],
	plugins: [
		"add-module-exports",
		"idx",
		"transform-runtime",
	],
	env: {
		development: {
			ignore: [
				"**/*test.js",
			]
		}
	}
}
