{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype",
  ],
  "plugins": [
    "flowtype",
  ],
  "overrides": [
    {
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "airbnb-base",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended",
      ],
      "plugins": [
        "@typescript-eslint",
      ],
      "rules": {
        "no-restricted-syntax": [
          "error",
          "WithStatement",
          "LabeledStatement",
          "ForInStatement",
        ],
        "no-await-in-loop": "off",
        "no-return-await": "off",
        "import/no-default-export": "error",
        "import/prefer-default-export": "off",
        "func-names": "off",
        "no-void": "off",
        "no-plusplus": "off",
        "require-yield": "off",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-empty-function": "off",
        "no-useless-constructor": "off",
        "import/no-unresolved": "off",
        "import/extensions": "off",
      }
    },
  ],
  "env": {
    "jest": true,
  },
  "rules": {
    "no-restricted-syntax": [
      "error",
      "WithStatement",
      "LabeledStatement",
      "ForInStatement",
    ],
    "no-await-in-loop": "off",
    "no-return-await": "off",
    "import/no-default-export": "error",
    "import/prefer-default-export": "off",
    "func-names": "off",
    "no-void": "off",
    "no-plusplus": "off",
    "require-yield": "off",
    "no-use-before-define": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
  }
}
